<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vaccination"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".AddressFinder"
            android:exported="false" />
        <activity
            android:name=".DaumActivity"
            android:exported="false" />
        <activity
            android:name=".PublicActivity"
            android:exported="false" />
        <activity
            android:name=".GraphActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PhpActivity"
            android:exported="false" />
        <activity
            android:name=".HumanActivity"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BoardActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".GoogleMaps"
            android:exported="false"
            android:label="@string/title_activity_google_maps" />
        <activity
            android:name=".CallConnectActivity"
            android:exported="false"
            android:theme="@style/Theme.Vaccination" />
        <activity
            android:name=".CallActivity"
            android:exported="false" />
        <activity
            android:name=".NotiActivity"
            android:exported="false" />
        <activity
            android:name=".Enroll2Activity"
            android:exported="false"
            android:parentActivityName=".MyVac2Activity" />
        <activity
            android:name=".MyVac2Activity"
            android:exported="false" />
        <activity
            android:name=".AgeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>